*{
  background-color: aquamarine;
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-color; black;
  border-radius: 10px;
  border-width: 10px;
}
